<div class="mb-2 row justify-content-start gap-3 align-items-start">
  <button
    class="col-12 col-md-4 col-xl-3 col-xxl-2 btn btn-outline-primary btn-lg"
    (click)="onAddUser()"
  >
    <i class="bi bi-plus-circle-fill"></i> Ajouter
  </button>
  <app-query-handle-user
    [filters]="paginatedFilter()"
    (filterChange)="onFilterChange($event)"
  />
</div>
<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="paginatedFilter().pageSize!"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
  class="col-12"
/>
<div class="container rounded p-4 my-4 border shadow-sm">
  <!-- Affichage des utilisateurs -->
  <div class="row justify-content-around">
    @for (user of users(); track user._id) {
    <div class="col-12 col-md-10 col-xxl-6 mb-4">
      <app-user-card
        [user]="user"
        (editUser)="onEditUser($event)"
        (removeUser)="onRemoveUser()"
      />
    </div>
    }
  </div>

  <!-- Affichage du message de chargement -->
  @if (isLoading()) {
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  }

  <!-- Affichage des erreurs -->
  @if (errorMessage()) {
  <div class="alert alert-danger text-center mx-auto">
    {{ errorMessage() }}
  </div>
  }
</div>
<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="paginatedFilter().pageSize!"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
/>

<app-modal #addModal title="Ajout utilisateur">
  <app-register-form (submited)="onAddedUser()" />
</app-modal>

<!-- Modal Edit -->
<app-modal #editModal title="Eddition utilisateur">
  <app-user-edit
    [user]="selectedUser()"
    (save)="onEditedUser()"
  ></app-user-edit>
</app-modal>
