<div class="mb-2 col-12 col-md-8 col-xxl-6">
  <h3 class="display-5">Liste des utilisateurs</h3>
  <!-- Composant de gestion des requêtes (recherche) -->
  <app-query-handler-bar
    [searchQuery]="searchQuery()"
    (searchChange)="onSearchChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    [PageSize]="itemsPerPage()"
    class="col-12 col-md-10 mx-auto"
  />
</div>
<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="itemsPerPage()"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
  class="col-12"
/>
<div class="container rounded p-4 my-4 border shadow-sm">
  <!-- Affichage des utilisateurs -->
  <div class="row g-0 justify-content-around">
    @for (user of users(); track user._id) {
    <div class="col-12 col-md-10 col-xxl-6 mb-4">
      <app-user-card
        [user]="user"
        (editUser)="onEditUser($event)"
        (removeUser)="onRemoveUser()"
      />
    </div>
    }
  </div>

  <!-- Affichage du message de chargement -->
  @if (isLoading()) {
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  }

  <!-- Affichage des erreurs -->
  @if (errorMessage) {
  <div class="alert alert-danger position-absolute">
    {{ errorMessage }}
  </div>
  }
</div>
<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="itemsPerPage()"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
/>

<!-- Modal Edit -->
<app-modal #editModal title="Eddition utilisateur">
  <app-user-edit
    [user]="selectedUser()"
    (save)="loadUsers(currentPage(), itemsPerPage(), searchQuery())"
  ></app-user-edit>
</app-modal>
