@let user = user$ | async;
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
      <img src="file.svg" class="brand-icon" alt="" />Au P'tit Vivo
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house me-1"></i>Accueil
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">
            <i class="bi bi-shop me-1"></i>Produits
          </a>
        </li>
        <li class="nav-item me-3">
          <app-cart-badge class="" />
        </li>
        @if (user) {
          @if (user.role === "admin") {
            <li class="nav-item me-3">
              <a
                class="nav-link"
                routerLink="/dashboard"
                routerLinkActive="active"
              >
                <i class="bi bi-speedometer2 me-2"></i>Tableau de bord
              </a>
            </li>
          } @else if (user.role === "client") {
            <li class="nav-item">
              <a
                class="nav-link text-center"
                routerLink="/profile"
                routerLinkActive="active"
              >
                <i class="bi bi-speedometer2 me-2"></i>Mon compte
              </a>
            </li>
          }
          <li class="nav-item">
            <app-user-drop-down-menu [user]="user"></app-user-drop-down-menu>
          </li>
        } @else {
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              <i class="bi bi-box-arrow-in-right me-1"></i>Connexion
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light px-3 py-1" routerLink="/register">
              <i class="bi bi-person-plus me-1"></i>Inscription
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

<!-- LAYOUT PRINCIPAL -->
<div class="container-fluid" style="padding-top: 70px">
  <div class="row">
    <!-- CONTENU -->
    <main class="col-md-9 col-lg-10 mx-auto py-4 min-vh-100">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
