<div class="mb-2 row justify-content-start gap-3 align-items-start">
  <app-query-handle-order
    [filters]="paginatedFilter()"
    (filterChange)="onFilterChange($event)"
    (filterReset)="onFilterReset()"
  />
  <!--Toggle display mode-->
  <div class="btn-group mb-3">
    <button
      class="btn"
      [class.btn-primary]="displayMode() === 'card'"
      [class.btn-outline-primary]="displayMode() !== 'card'"
      (click)="setDisplayMode('card')"
    >
      Cartes
    </button>

    <button
      class="btn"
      [class.btn-primary]="displayMode() === 'table'"
      [class.btn-outline-primary]="displayMode() !== 'table'"
      (click)="setDisplayMode('table')"
    >
      Tableau
    </button>
  </div>

  <!-- Affichage du message de chargement -->
  @if (isLoading()) {
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  }

  <!-- Affichage des erreurs -->
  @if (errorMessage()) {
  <div class="alert alert-danger text-center mx-auto">
    {{ errorMessage() }}
  </div>
  }
</div>

<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="paginatedFilter().pageSize!"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
  class="col-12"
/>

<div class="container-fluid rounded p-4">
  @if(displayMode()==='card'){
  <div class="container-fluid p-4">
    @for (o of orders(); track o._id){
    <app-order-card
      [order]="o"
      (editOrder)="loadOrders()"
      (removeOrder)="loadOrders()"
    />
    }
  </div>
  }@if(displayMode() === 'table'){
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Utilisateur</th>
          <th>Adresse</th>
          <th>Statut</th>
          <th>Total</th>
          <th>Créé</th>
          <th>Modifié</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (o of orders(); track o._id){
        <tr
          app-order-table
          [order]="o"
          (editOrder)="loadOrders()"
          (removeOrder)="loadOrders()"
        ></tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
<!-- Composant de pagination -->
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="paginatedFilter().pageSize!"
  [currentPage]="currentPage()"
  (pageChange)="onPageChange($event)"
  class="col-12"
/>
