/* You can add global styles to this file, and also import other style files */
@use "bootstrap" as *;
@import "bootstrap-icons/font/bootstrap-icons.css";

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}